<h1>Post List</h1>

<table class="table table-success table-striped">
  <thead>
  <td>TITLE</td>
  <td>CONTENT</td>
  <td>ACTION</td>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.created_at %></td>
      <td>
        <%= link_to 'Detail', post_path(post), class: 'btn btn-sm btn-primary' %>
      </td>
    </tr>
  <% end %>
</table>